.header{
    display: flex;
    justify-content: center;
    background-color: #F6FAFB;
    ;
}

.header .space{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0px;
}