.hero{
    background-image: url(../assets/img/background.png);
    background-position: bottom;
    display: grid;
    place-items: center;
    height: 100vh;
}

.hero .space{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero .title{
    width: 420px;
    font-weight: 400;
    font-size: var(--font-size-main);
}